.navbar {
	background-color: #E6EEF5 ;
}

.biodata {
	background-color: #082543 ;

}

.activities {
	background-color: #082543 ;
}

.gallery {
	background-color: #082543 ;
}

.copyright {
	background-color: #082543 ;
}